@charset "utf-8";

.results {
  margin-top: 40px;

  TEXTAREA {
    width: 575px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
  }
}

.number {
  margin-right: 10px;
}
